{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% block prefix %}
        {% if plentaCountUpPrefix|default %}
            <span class="countup-prefix">{{ plentaCountUpPrefix }}</span>
        {% endif %}
    {% endblock %}
    {% block value %}
        <span class="countup-value" id="{{ valueID }}" {{ dataAttributes }}>{{ plentaCountUpValue }}</span>
    {% endblock %}
    {% block suffix %}
        {% if plentaCountUpSuffix|default %}
            <span class="countup-suffix">{{ plentaCountUpSuffix }}</span>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block script %}
    {% add "contao-count-up-js" to body %}
    {% set script_attributes = attrs()
        .setIfExists('nonce', csp_nonce('script-src'))
        .mergeWith(script_attributes|default)
    %}
    <script src="{{ asset('contaocountup/countup.js', 'contaocountup') }}" defer></script>
    {% endadd %}
{% endblock %}